.btn {
    width: 200px;
    height: auto;
    padding: 20px 10px;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    margin: 20px;
}

.btn {
    background-color: rgb(18, 160, 18);
}

.btn:hover {
    background-color: darkGreen;
    cursor: pointer;
}


